* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#centro {
    background: #333;
    height: 100vh;
    margin: 0 auto;
    width: 90vw;
}

#topo {
    width: 100vw;
    height: 20vh;
    background: #f00;
}

#topo h1 {
    color: #fff;
    font-size: 2em;
}

.colunas2 {
    display: flex;
    width: 90vw;
    margin: 1px;
    float: left;
    background: #999;
    flex-wrap: nowrap;
}
.colunas2 h1 {
    width: 35vw;
    
}

@media screen and (min-width: 320px) and (max-width: 568px) {
    #centro {
        width: 100vw;
    }
    #topo {
        background: #ff0;
    }
    #topo h1 {
        color: #f00;
    }
}