/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 40px;
  padding: 20px 0;
}

legend {
  font-size: 1.4em;
}

#personal {
  display: flex;
  justify-content: center;
}

.atributo input, #personal label {
  width: 30vw;
  margin: 0 10px;
}

input, textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
}

#address {
  display: flex;
  flex-direction: column;
}

#address div {
  margin-left: 25px;
}

.address-line {
  display: flex;
} */

.street-number, .address-complements, .city-state {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  width: 100%;
}

.street {
  flex-grow: 1;
  flex-basis: 90vw;
  flex-shrink: 1;
}
.house-number {
  flex-shrink: 3;
  margin-left: 5px;
}

.complements {
  flex-basis: 60vw;
}

.city {
  flex-basis: 90vw;
  margin-right: 5px;
}

.district {
  flex-basis: 40vw;
  margin-left: 5px;
  flex-basis: 40vw;
}