@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header-container {
    display: flex;
    background: rgb(91, 101, 124);
}

.menu-container {
    flex-basis: 500px;
    color: white;
    order: 1;
}

.menu-container ul {
    display: flex;
    justify-content: space-evenly;
}

.logo-container {
    flex-basis: 268px;
    order: 0;
}

ul {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .menu-container {
        flex-basis: 100vw;
        justify-content: space-between;
    }
}