h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}
ul {
  color: #006699
}
.bgcolor {
  background: palegreen;
}

body {
  font-size: 16px;
}
p {
  font-weight: 600;
  font-size: 3em;
}
ul li {
  font-style: oblique;
  line-height: 4;
  text-align: center;
  list-style-type: none;
}
ul li:hover{
  text-decoration: underline;
}
li:nth-child(1){
  background: yellow;
}
li:nth-child(2){
  background: red;
}
li:nth-child(3){
  background: brown;
}